[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
psycopg2 = "*"
flask = "*"
requests = "*"
werkzeug = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
