<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>Hi, {{ username }}</h1>

        <form action="/edit_profile" method="get">
            <button type="submit">Edit profile</button>
        </form>

        <form action="/sign_out" method="get">
            <button type="submit">Sign out</button>
        </form>
    </header>
    <div>
        <div>
            <h3>Your heart rate: {{ heart_rate }}</h3>
        </div>
        <div>
            <h3>Your saturation: {{ saturation }}</h3>
        </div>
        <div>
            <h3>Number of steps you walked today: {{ total_steps }}</h3>
        </div>
        <div>
            <h3>Calories burnt today: {{ total_calories }}</h3>
        </div>
    </div>
</body>
</html>